
body{
  font:13px/1.231 arial,helvetica,clean,sans-serif; /* YUI Font Reset */
  *font-size:small;     /* YUI Font Reset */
  *font:x-small;        /* YUI Font Reset */
  height: 100%;
  background-color: #f8f9fa;    /* not all browsers set white as the default background color  */
  color: #444;         /* color is set to create not too much contrast with the background color */
  line-height: 1.4;    /* line-height is to ensure that text is legible enough ( enough space between the lines) */
}

:root {
  --my-color: #55C9F8;/* xanh*/
  --white-color: #fff;  /*trắng*/
  --yellow-color: #f9ca24; /*vàng*/
  --black-color: #333; /*đen*/
  --header-font-size: 16px;
  --content-font-size: 12px;
  --background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.open{
  display: block;
}
.__table-form{
  background-color: var(--white-color);
  text-align: center;
  box-shadow: 3px 3px 40px 1px grey;
  border-radius: 3px;
  border-color: var(--white-color);
  margin: 0;
  padding: 0;

}
.__btn-form{
  text-align: center;
  border-radius: 5px;
  border-color: var(--white-color);
}

select,input,button,textarea,button {
  font:99% arial,helvetica,clean,sans-serif;
}

table {
  font-size:inherit;
  font:100%;
  border-collapse: collapse;
  border-spacing: 0;
}

pre,code,kbd,samp,tt {
  font-family:monospace;
  *font-size:108%;
  line-height:100%;
}

/* YUI Base css http://developer.yahoo.com/yui/base/ */

h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size:138.5%;
}

h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size:123.1%;
}

h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:108%;
}

/* margin and padding values are reset for all these elements
 * you could remove from there elements you do not used in your documents, but I don't think it'd worth it
 */
button{
  outline: none;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p,blockquote,ul,ol,dl {
	/* top & bottom margin based on font size */
	margin:1em 0;
}

h1,h2,h3,h4,h5,h6,strong,th,dt,b {
	/*bringing boldness back to headers and the strong element*/
	font-weight:bold;
}

abbr,acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
}

em,blockquote, q, em, cite, dfn, i, cite, var, address {
	/*bringing italics back */
	font-style:italic;
}

ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}

ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;
}


dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:1em;
}

th,td {
	/*borders and padding to make the table readable*/
	border:1px solid #000;
	padding:.5em;
}

/* all th should be centered unless they are in tbody (table body) */
th {
	/*distinguishing table headers from data cells*/
	text-align:center;
}

tbody th {text-align: left;}

/* caption and summary are very important for tabular data but because caption is nearly impossible to style across browsers many authors do not use it or use display:none to "hide" it (which is almost the same as not using it).
 * so to prevent such workaround, I am positioning this element off-screen
 */
caption {
  position: absolute;
  left: -999em;
}

/* this is to prevent border from showing around fieldsets and images (i.e., images inside anchors)
 */
fieldset, img {
  border: 0;
}

/* to prevent a gap from showing below images in some browsers
 */
img {vertical-align: top;}

/* color is to make that element stands out (see color set via body)
 * padding is used so Internet Explorer does not cut-off descenders in letters like p, g, etc.)
 */
legend {
  color: #000;
  padding-bottom: .5em;
}

/* See Eric Meyer's article about Fixed Monospace Sizing
 * http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
 */
code {color: #06f;}
code, pre {font-family: "Courier New", monospace, serif; font-size: 1em;}

/* to prevent some browsers from inserting quotes on "q" and "p" ("p" in blockquotes) */
blockquote p:before, blockquote p:after, q:before, q:after {content: '';}

ins {
  text-decoration: none;
  border-bottom: 3px double #333;
}

del {text-decoration: line-through;}

abbr,acronym {
  border-bottom: 1px dotted #333;
  font-variant: normal;
}

/* we use margin for hr for the same reason we do for table */
hr {
  margin-right: 30px;
  margin-left: 30px;
  border-style: inset;
  border-width: 1px;
}

/* line height helps to set the vertical alignment of radio buttons and check boxes (remember to group these in fieldsets)
 */
fieldset {line-height: 1;}

/* vertical alignment of checkboxes (a different value is served to IE 7)
 */
input[type="checkbox"] {
  vertical-align: middle;
  *vertical-align: middle;
}

/* vertical alignment of radio buttons */
input[type="radio"] {vertical-align: middle;}

/* vertical alignment of input fields for IE 6 */
input {_vertical-align: middle; outline: none;}

/* a specific font-size is set for these elements */
input, button, textarea, select, optgroup, option {
  font-size: 100%;
}